## helm repo add grafana https://grafana.github.io/helm-charts && helm repo update && helm upgrade --install --timeout 300s grafana-k8s-monitoring grafana/k8s-monitoring --namespace "monitoring" --create-namespace --values values.yml
## helm install grafana-k8s-monitoring grafana/k8s-monitoring -n monitoring --create-namespace --timeout 10m  --values values.yml

cluster:
  name: minikube

destinations:
  - name: grafana-cloud-metrics
    type: prometheus
    url: https://prometheus-prod-43-prod-ap-south-1.grafana.net/api/prom/push
    auth:
      type: basic
      username: "2861623"            # Metrics instance ID
      password: grafana-alloy-token       # Stored as Kubernetes secret

  - name: grafana-cloud-logs
    type: loki
    url: https://logs-prod-028.grafana.net/loki/api/v1/push
    auth:
      type: basic
      username: "1426488"            # Logs instance ID
      password: grafana-alloy-token

  - name: gc-otlp-endpoint
    type: otlp
    url: https://otlp-gateway-prod-ap-south-1.grafana.net/otlp
    protocol: http
    auth:
      type: basic
      username: "1468695"            # Traces instance ID
      password: grafana-alloy-token
    metrics:
      enabled: true
    logs:
      enabled: true
    traces:
      enabled: true

clusterMetrics:
  enabled: true

  kepler:
    enabled: true

  opencost:
    enabled: false
    metricsSource: grafana-cloud-metrics
    opencost:
      exporter:
        defaultClusterId: minikube
      prometheus:
        existingSecretName: grafana-cloud-metrics-grafana-k8s-monitoring
        external:
          url: https://prometheus-prod-43-prod-ap-south-1.grafana.net/api/prom

clusterEvents:
  enabled: true

podLogs:
  enabled: true

applicationObservability:
  enabled: true
  receivers:
    otlp:
      grpc:
        enabled: true
        port: 4317
      http:
        enabled: true
        port: 4318
    zipkin:
      enabled: true
      port: 9411

alloy-metrics:
  enabled: true

alloy-logs:
  enabled: true

alloy-singleton:
  enabled: true

alloy-receiver:
  enabled: true
  alloy:
    extraPorts:
      - name: otlp-grpc
        port: 4317
        targetPort: 4317
        protocol: TCP
      - name: otlp-http
        port: 4318
        targetPort: 4318
        protocol: TCP
      - name: zipkin
        port: 9411
        targetPort: 9411
        protocol: TCP